* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* either set to Rubik or sans-serif is not available */
    font-family: 'Rubik', sans-serif;
    color: #444;
}

.top-nav {
    /* font color */
    color: #fff;
    font-size: 20px;
    font-weight: 700;

    /* this is to put a space in between the two nav objects */
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #444;
}

header {
    height: 100vh;
}

img {
    max-width: 100%;
}


/* rewrite this with flex box */
ul {
    padding: 0;
    list-style-type: none;
    columns: 4;
}

.name {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.roles {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: lightgrey;
    margin-bottom: 5px;
    border-radius: 50px;
}

.role {
    padding: 22px;
}

.email {
    display: flex;
    justify-content: center;
}

.section-1 {
    display: block;
    background-color: #f7f7f7;
    /* top and bottom || left and right */
    padding:122px 0;

}

.container {
    width: 960px;
    margin: 0 auto;
}

.reach {
    background-color: lavender;
    width: auto;
    /* this centers the blocks into the middle of the component */
    margin: auto;
}

.info {
    border-radius: 50px;

    display:flex;
    justify-content: center;
    gap: 50px;
    padding: 22px; 
}

.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(0,0,0,.1);
    color: gray;
}

.cp {
    height: 12px;
    width: 12px;
}

.section-2 {
    display: block;
    background-color: #fff;
    /* top and bottom || left and right */
    padding:122px 0;
}

.section-3 {
    display: block;
    background-color: #f7f7f7;
    /* top and bottom || left and right */
    padding:122px 0;
}

.section-4{
    display: block;
    background-color: gray;
    /* top and bottom || left and right */
    padding:122px 0;
